body {
    font-family: 'Muli', sans-serif;
    color: #1C447E;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}

.top-buffer {
    margin-top: 25px;
}

.top-buffer-medium {
    margin-top: 50px;
}

.top-buffer-large {
    margin-top: 75px;
}

.vertical-center {
    margin-top: 260px;
}

.trait {
    font-size: 50px;
}