body {
    font-family: 'Muli', sans-serif;
    color: #1C447E;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}

.top-buffer-small {
    margin-top: 25px;
}

.top-buffer-medium {
    margin-top: 50px;
}

.top-buffer-large {
    margin-top: 75px;
}

.trait {
    font-size: 50px;
}

.carousel-inner .text-right {
    padding-right: 10px;
}